html,body{
margin:0;
padding:0;
background:#05050a;
overflow:hidden;
font-family:monospace;
}

#engineRoot{
position:fixed;
left:50%;
top:50%;
transform:translate(-50%,-50%);
}

canvas{
position:absolute;
left:0;
top:0;
image-rendering:pixelated;
}

#world{z-index:1;}
#fx{z-index:2;pointer-events:none;}
#ui{z-index:3;pointer-events:none;}

#debug{
position:fixed;
left:10px;
bottom:10px;
color:#9d7bff;
font-size:12px;
white-space:pre;
opacity:.85;
}

#mobile{
position:fixed;
right:10px;
bottom:10px;
display:flex;
flex-direction:column;
gap:12px;
z-index:999;
}

#mobile button{
width:70px;
height:70px;
border-radius:50%;
border:none;
background:#7b2cff;
color:white;
font-size:24px;
box-shadow:0 0 25px #7b2cff;
}

